<div class="modal-header">
    <h5 class="modal-title">Detalhes do Pedido #{{ pedido.id }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <h6>Cliente: {{ pedido.cliente.get_full_name|default:pedido.cliente.username }}</h6>
    <hr>
    <h6>Itens:</h6>
    <ul class="list-group">
        {% for item in pedido.itempedido_set.all %}
        <li class="list-group-item d-flex justify-content-between">
            <span>{{ item.quantidade }}x {% if item.produto %}{{ item.produto.nome }}{% else %}[Removido]{% endif %}</span>
            <span>R$ {{ item.subtotal|stringformat:".2f" }}</span>
        </li>
        {% endfor %}
    </ul>
    <div class="text-end mt-2 fs-5 fw-bold">
        Total: <span class="text-primary">R$ {{ pedido.total_pedido|stringformat:".2f" }}</span>
    </div>
</div>
<div class="modal-footer justify-content-between">
    <div>
        <button type="button" class="btn btn-secondary" onclick="window.print();">Imprimir</button>
    </div>
    <div>
        {% if pedido.status == 'solicitado' %}
            <form hx-post="{% url 'restaurant:recusar_pedido' pedido.id %}" hx-target="#kanban-wrapper" hx-swap="innerHTML" class="d-inline">
                {% csrf_token %} <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Recusar Pedido</button>
            </form>
            <form hx-post="{% url 'restaurant:aceitar_pedido' pedido.id %}" hx-target="#kanban-wrapper" hx-swap="innerHTML" class="d-inline">
                {% csrf_token %} <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Aceitar Pedido</button>
            </form>
        {% elif pedido.status == 'em_preparo' %}
            <form hx-post="{% url 'restaurant:marcar_como_em_entrega' pedido.id %}" hx-target="#kanban-wrapper" hx-swap="innerHTML" class="d-inline">
                {% csrf_token %} <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Pronto para Entrega →</button>
            </form>
        {% elif pedido.status == 'saiu_para_entrega' %}
            <form hx-post="{% url 'restaurant:marcar_como_finalizado' pedido.id %}" hx-target="#kanban-wrapper" hx-swap="innerHTML" class="d-inline">
                {% csrf_token %} <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Finalizar Pedido ✓</button>
            </form>
        {% else %}
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        {% endif %}
    </div>
</div>